<% content_for(:title) { t("admin.hosts.edit_title") } %>
<%= render "shared/breadcrumbs", crumbs: [
  ["Wszyscy organizatorzy", hosts_path],
  [@host.display_name, host_path(@host)],
  [t("admin.hosts.edit_title"), nil]
] %>

<h1 class="text-2xl font-semibold mb-4"><%= t("admin.hosts.edit_title") %>: <%= @host.display_name %></h1>

<%= render "form", host: @host %>
