<% content_for(:title) { t("admin.users.edit_title") } %>
<%= render "shared/breadcrumbs", crumbs: [
  ["Wszyscy pracownicy", users_path],
  [@user.display_name, user_path(@user)],
  [t("admin.users.edit_title"), nil]
] %>

<h1 class="text-2xl font-semibold mb-4"><%= t("admin.users.edit_title") %>: <%= @user.display_name %></h1>

<%= render "form", user: @user %>
