<% content_for(:title) { t("events.new_event") } %>
<%= render "shared/breadcrumbs", crumbs: [ [ t("events.new_event"), nil ] ] %>

<h1 class="text-2xl font-semibold mb-4"><%= t("events.new_event") %></h1>

<%= render "form",
           event: @event,
           hosts: @hosts,
           url: events_path,
           submit_label: t("events.new_event"),
           users_for_prereg: @users_for_prereg %>
